{:scalars
 {:DateTime
  {:parse     :datetime-parser
   :serialize :datetime-serializer}
  :Date
  {:parse     :date-parser
   :serialize :date-serializer}}

 :objects
 {:ReceiveSignalInit
  {:fields {:signalKey {:type String :description "adf"}
            :signalInstanceSquuid {:type String :description "adf"}
            :signalAqStartTime {:type String :description "adf"}
            :signalPayloadSize {:type String :description "adf"}
            :signalPayloadLastModifiedTime {:type String :description "adf"}
            :signalPayloadResponseHeaders {:type String :description "adf"}
            :signalPayloadTransferProtocol {:type String :description "adf"}
            :signalPayloadIdentifiedArtifactsMap {:type String :description "adf"}
            :requestedUpdateMethod {:type String :description "adf"}
            :requestedUpdateFrequency {:type String :description "adf"}}
   :description ""}}
 :input-objects
 {:SignalDefinition
  {:fields {:signalKey {:type String
                         :description "afeafefef"}}
   :description "ijiji"}}

 :subscriptions
 {:SubscribeReceiveSignal {:type :ReceiveSignalInit
                             :args {:sigdef {:type :SignalDefinition}}
                             :stream :subscribe-receiver-stream}}}
